<ion-content>
  <div *ngFor="let receipt of receiptList">
    {{ receipt }}
    <ion-button (click)="viewImage(receipt)">
      <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="deleteReciept(receipt)">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  </div>
  <ion-button (click)="receiptAction('captureImg')">
    Capture Photo
  </ion-button>
  <ion-button (click)="receiptAction('addImg')">
    Add Photo
  </ion-button>
  <ion-button (click)="receiptAction('addDoc')">
    Add document
  </ion-button>
  <!-- <ion-popover triggerAction="click"> -->
    <ng-template #renameFile>
      <ion-content class="ion-padding">Hello World!</ion-content>
    </ng-template>
  <!-- </ion-popover> -->
</ion-content>