.background-image {
    // background: url('../../../assets/images/LoginPage_Mobile.png') no-repeat center;
    background-size: cover;
    max-width: 418px;
    height: 200px;
    filter: brightness(0.5); /* Add an overlay effect */
  }
  
  .login-card {
    position: relative;
    padding: 20px;
    margin: auto;
    width: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
  }
  